.typed-cursor {
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.jumbotron {
  background-color: #202020;
  border-radius: 0;
  color: #F1F1F1;
  padding: 40px;
  margin-bottom: 40px;
}
@media screen and (max-width: 768px) {
  .jumbotron {
    padding: 40px 0 30px;
  }
}
.jumbotron .logo {
  float: left;
}
.jumbotron a {
  color: #F1F1F1;
}
.jumbotron a:hover,
.jumbotron a:focus,
.jumbotron a:active {
  text-decoration: none;
}
.jumbotron h1,
.jumbotron p.h1 {
  font-size: 1em;
  font-weight: 200;
  letter-spacing: 2px;
}
.jumbotron .typer {
  font-size: 0.75em;
  color: #9e9e9e;
  font-family: 'Droid Sans Mono', monospace;
}
.jumbotron p.lead {
  margin-bottom: 0;
}
.jumbotron .status {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  display: inline-block;
  margin-bottom: 1px;
  background-color: #CCCCCC;
}
.jumbotron .status.red {
  background-color: #da432b;
}
.jumbotron .status.yellow {
  background-color: #e6cc44;
}
.jumbotron .status.green {
  background-color: #57cb54;
}
nav {
  display: inline-block;
}
@media screen and (max-width: 768px) {
  nav {
    float: left;
    display: block;
    width: 100%;
    padding-top: 20px;
  }
}
.jumbotron nav {
  float: right;
}
footer nav {
  float: left;
}
footer nav .nav .nav-link {
  color: #202020;
  padding-right: 20px;
  padding-left: 0;
}
@media screen and (max-width: 768px) {
  footer nav {
    display: none;
  }
}
.nav li {
  display: inline-block;
}
@media screen and (max-width: 768px) {
  .nav li {
    display: block;
  }
}
.nav .nav-link {
  color: #F1F1F1;
  transition: .2s all;
  opacity: .7;
  padding-left: 20px;
  font-size: 15px;
  letter-spacing: 1px;
  font-weight: 200;
}
.nav .nav-link.active {
  opacity: 1;
}
@media screen and (max-width: 768px) {
  .nav .nav-link {
    padding: 10px 0;
    opacity: 1;
    border-top: 1px solid #404040;
    width: 100%;
  }
}
.nav .nav-link:hover {
  opacity: 1;
}
#home h1 {
  font-weight: 200;
  font-size: 3rem;
  line-height: 1.5;
}
#home .intro {
  font-size: 1.5rem;
  width: 80%;
  margin-bottom: 40px;
  margin-top: 40px;
}
@media screen and (max-width: 768px) {
  #home .intro {
    width: 100%;
    font-size: 24px;
  }
}
#home .codeLink {
  display: inline-block;
  font-family: 'Droid Sans Mono', Helvetica, sans-serif;
  border: 1px solid #9e9e9e;
  color: #9e9e9e;
  padding: 5px 10px 8px;
  border-radius: 4px;
  font-size: 14px;
  transition: .2s all;
}
#home .codeLink:hover {
  border: 1px solid #202020;
  background-color: #202020;
  color: #57cb54;
  text-decoration: none;
}
#about h1 {
  font-size: 2rem;
  margin: 90px 0 40px;
  color: #202020;
}
#about .profile {
  margin-top: 40px;
  margin-bottom: 40px;
  background-color: #F1F1F1;
  padding: 30px 15px;
  box-sizing: content-box;
}
#about .profile .avatar {
  width: 100%;
}
#about p {
  line-height: 2em;
  font-size: 18px;
}
#about p a {
  color: #da432b;
}
#about p a:hover {
  text-decoration: none;
}
#about address {
  letter-spacing: 1px;
  padding-top: 5px;
}
#about address a {
  color: #9e9e9e;
}
#about address a:hover {
  color: #da432b;
  text-decoration: none;
}
#about .btn {
  color: #9e9e9e;
  border: 1px solid #9e9e9e;
  font-size: 12px;
  letter-spacing: 1px;
  transition: .2s all;
}
#about .btn:hover {
  border: 1px solid #da432b;
  color: #da432b;
}
.projects h2 {
  font-weight: 200;
  font-size: 2.5rem;
  margin: 90px 0 40px;
}
.projects img {
  width: 100%;
}
.projects h3 {
  font-size: 1.2rem;
  font-weight: 200;
  letter-spacing: 1px;
  margin-top: 5px;
  margin-bottom: 10px;
}
.projects a {
  color: black;
  text-decoration: none;
  transition: .2s all;
}
.projects p {
  color: #9e9e9e;
  letter-spacing: 1px;
  font-weight: 200;
  font-size: .8rem;
  margin-bottom: 0;
}
.projects ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 2.5rem;
}
.projects ul li {
  font-family: 'Droid Sans Mono', Helvetica, sans-serif;
  display: inline-block;
  border-radius: 4px;
  color: #97abca;
  background-color: #e8f8ff;
  font-size: 12px;
  letter-spacing: 1px;
  padding: 4px 8px;
  margin-bottom: 4px;
}
.singleProject .images img {
  width: 100%;
  margin: 20px 0;
}
footer {
  margin-top: 60px;
}
footer a {
  color: #202020;
  opacity: .7;
  transition: .2s all;
  text-decoration: none;
}
footer a:hover {
  opacity: 1;
  text-decoration: none;
  color: #da432b;
}
footer small {
  color: #9e9e9e;
  letter-spacing: 1px;
}
.mt60 {
  margin-top: 60px;
}
.form-control:focus {
  border-color: #da432b;
}
.h1 h1 {
  font-weight: 200;
  font-size: 2.5rem;
  margin: 90px 0 40px;
  color: #202020;
}
.text {
  letter-spacing: 1px;
}
.text h1 {
  font-size: 2rem;
  margin: 90px 0 40px;
  color: #202020;
}
.text blockquote {
  font-style: italic;
  margin-bottom: 40px;
}
.text blockquote footer {
  margin-top: 5px;
}
.text h3 {
  font-size: 24px;
  font-weight: bold;
  color: #202020;
  margin: 40px 0;
}
.text a {
  color: #da432b;
}
.text a:hover {
  text-decoration: none;
}
.text .embed-responsive {
  margin: 60px 0;
}
.text p {
  color: #707070;
  line-height: 2em;
  font-size: 18px;
}
.text .btn {
  margin-top: 40px;
  margin-right: 10px;
  color: #9e9e9e;
  border: 1px solid #9e9e9e;
  background-color: transparent;
  transition: .2s all;
  font-family: 'Droid Sans Mono', Helvetica, sans-serif;
}
.text .btn:hover {
  color: #202020;
  border: 1px solid #202020;
}
.text em {
  background-color: rgba(165,165,165,0.2);
  font-style: italic;
}
.text strong {
  font-weight: 500;
}
.text .form-control {
  letter-spacing: 1px;
}
#contact .warning {
  margin-top: 20px;
}
