@import url('https://fonts.googleapis.com/css?family=Droid+Sans+Mono');
.typed-cursor {
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.jumbotron {
  background-color: #202020;
  border-radius: 0;
  color: #F1F1F1;
  padding: 40px;
}
@media screen and (max-width: 768px) {
  .jumbotron {
    padding: 40px 0 30px;
  }
}
.jumbotron .logo {
  float: left;
}
.jumbotron h1 {
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 200;
  letter-spacing: 2px;
}
.jumbotron .typer {
  font-size: 0.75em;
  color: #9e9e9e;
  font-family: 'Droid Sans Mono', monospace;
}
.jumbotron p.lead {
  margin-bottom: 0;
}
.jumbotron .status {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  display: inline-block;
  margin-bottom: 1px;
  background-color: #CCCCCC;
}
.jumbotron .status.red {
  background-color: #da432b;
}
.jumbotron .status.yellow {
  background-color: #e6cc44;
}
.jumbotron .status.green {
  background-color: #57cb54;
}
nav {
  display: inline-block;
  float: right;
}
@media screen and (max-width: 768px) {
  nav {
    float: left;
    display: block;
    width: 100%;
    padding-top: 20px;
  }
}
.nav li {
  display: inline-block;
}
@media screen and (max-width: 768px) {
  .nav li {
    display: block;
  }
}
.nav .nav-link {
  color: white;
  transition: .2s all;
  opacity: .7;
  padding-left: 20px;
  font-size: 15px;
  letter-spacing: 1px;
  font-weight: 200;
}
@media screen and (max-width: 768px) {
  .nav .nav-link {
    padding: 10px 0;
    opacity: 1;
    border-top: 1px solid #404040;
    width: 100%;
  }
}
.nav .nav-link:hover {
  opacity: 1;
}
#home .intro {
  font-size: 32px;
  width: 80%;
  font-family: 'Roboto', Helvetica, sans-serif;
}
@media screen and (max-width: 768px) {
  #home .intro {
    width: 100%;
    font-size: 24px;
  }
}
body {
  font-family: 'Roboto', Helvetica, sans-serif;
}
