footer {
    a {
        color: @dark-grey;
        opacity: .7;
        transition: .2s all;
        text-decoration: none;

        &:hover {
            opacity: 1;
            text-decoration: none;
            color: @red;
        }
    }
}
