.jumbotron {
    background-color: @dark-grey;
    border-radius: 0;
    color: @white;
    padding: 40px;
    height: 135px;
    margin-bottom: 40px;

    @media screen and (max-width: 768px) {
        padding: 40px 0 30px;
    }

    .logo {
        float: left;
    }

    a {
        color: @white;

        &:hover, &:focus, &:active {
            text-decoration: none;
        }
    }

    h1, p.h1 {
        font-size: 1em;
        font-weight: 200;
        letter-spacing: 2px;
    }

    .typer {
        font-size: 0.75em;
        color: @light-grey;
        font-family: 'Droid Sans Mono', monospace;
    }

    p.lead {
        margin-bottom: 0;
    }

    .status {
        border-radius: 50%;
        width: 10px;
        height: 10px;
        display: inline-block;
        margin-bottom: 1px;
        background-color: #CCCCCC;

        &.red {
            background-color: @red;
        }

        &.yellow {
            background-color: @yellow;
        }

        &.green {
            background-color: @green;
        }
    }
}
