#home {
    .intro {
        font-size: 32px;
        width: 80%;
        font-family: 'Roboto', Helvetica, sans-serif;
        margin-bottom: 40px;

        @media screen and (max-width: 768px) {
            width: 100%;
            font-size: 24px;
        }
    }

    .codeLink {
        display: inline-block;
        font-family: 'Droid Sans Mono', Helvetica, sans-serif;
        border: 1px solid @light-grey;
        color: @light-grey;
        padding: 5px 10px 8px;
        border-radius: 4px;
        font-size: 14px;
        transition: .2s all;

        &:hover {
            border: 1px solid @dark-grey;
            background-color: @dark-grey;
            color: @green;
            text-decoration: none;
        }
    }

    h2{
        font-family: 'Roboto', Helvetica, sans-serif;
        margin: 90px 0 40px;
    }

    .projects {
        font-family: 'Roboto', Helvetica, sans-serif;

        img {
            width: 100%;
        }

        h3 {
            font-size: 16px;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 1px;
            margin-top: 5px;
            margin-bottom: 0;
        }

        a{
            color: black;
            text-decoration: none;
            transition: .2s all;

            &:hover {
                color: @red;
            }
        }

        p{
            color: @light-grey;
            letter-spacing: 1px;
            font-weight: 200;
            font-size: 12px;
        }

        ul{
            list-style-type: none;
            margin: 0;
            padding: 0;

            li {
                display: inline-block;
                border-radius: 3px;
                border: 1px solid @light-grey;
                color: @light-grey;
                font-size: 12px;
                letter-spacing: 1px;
                padding: 2px 6px;
            }
        }
    }
}
