#home {
    .intro {
        font-size: 32px;
        width: 80%;
        font-family: 'Roboto', Helvetica, sans-serif;

        @media screen and (max-width: 768px) {
            width: 100%;
            font-size: 24px;
        }
    }
}
