nav {
    display: inline-block;

    @media screen and (max-width: 768px) {
        float: left;
        display: block;
        width: 100%;
        padding-top: 20px;
    }
}

.jumbotron nav {
    float: right;
}

footer nav {
    float: left;

    .nav {
        @media screen and (max-width: 768px) {
            border-bottom: 1px solid rgba(0,0,0,.1);
            margin-bottom: 10px;
            padding-bottom: 14px;
        }

        .nav-item {
            display: inline-block;

            @media screen and (max-width: 768px) {
                line-height: 1;
            }
        }

        .nav-link {
            color: @dark-grey;
            padding-right: 20px;
            padding-left: 0;

            @media screen and (max-width: 768px) {
                border: 0;
            }
        }
        
    }

    @media screen and (max-width: 768px) {
        padding: 0;
    }
}

.nav {
    li {
        display: inline-block;

        @media screen and (max-width: 768px) {
            display: block;
        }
    }

    .nav-link {
        color: @white;
        transition: .2s all;
        opacity: .7;
        padding-left: 20px;
        font-size: 15px;
        letter-spacing: 1px;
        font-weight: 200;

        &.active {
            opacity: 1;
        }

        @media screen and (max-width: 768px) {
            padding: 10px 0;
            opacity: 1;
            border-top: 1px solid @grey;
            width: 100%;
        }

        &:hover {
            opacity: 1;
        }
    }
}
