nav {
    display: inline-block;
    float: right;
}

.nav {
    li {
        display: inline-block;
    }

    .nav-link {
        color: white;
        transition: .2s all;
        opacity: .7;
        padding-left: 20px;
        font-size: 15px;
        &:hover {
            opacity: 1;
        }
    }
}
